[submodule "bundle/localrc"]
	path = bundle/localrc
	url = git://github.com/vim-scripts/localrc.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "bundle/monokai"]
	path = bundle/monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "bundle/vim-monokai"]
	path = bundle/vim-monokai
	url = git://github.com/sickill/vim-monokai.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-fakeclip"]
	path = bundle/vim-fakeclip
	url = git://github.com/kana/vim-fakeclip.git
[submodule "bundle/headlights"]
	path = bundle/headlights
	url = git://github.com/mbadran/headlights.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/easy-motion"]
	path = bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/peaksea"]
	path = bundle/peaksea
	url = https://github.com/vim-scripts/peaksea
[submodule "bundle/color-schemes"]
	path = bundle/color-schemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "bundle/sunburst"]
	path = bundle/sunburst
	url = https://github.com/sickill/vim-sunburst
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "bundle/vim-ios"]
	path = bundle/vim-ios
	url = https://github.com/eraserhd/vim-ios
[submodule "bundle/vim-kiwi"]
	path = bundle/vim-kiwi
	url = https://github.com/vim-scripts/kiwi.vim
[submodule "bundle/vim-objc"]
	path = bundle/vim-objc
	url = git@github.com:b4winckler/vim-objc.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber
[submodule "bundle/gyp.vim"]
	path = bundle/gyp.vim
	url = git@github.com:jonmorehouse/gyp.vim
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
